<form action="/artists/<%= @user.slug %>/edit" method="POST">
	<h3>Choose a display name:</h3>
	<textarea rows="1" cols="25" name="name"><%= @user.name %></textarea>
	<h3>Tell us a little about yourself:</h3>
	<textarea rows="5" cols="50" name="bio"><%= @user.bio %></textarea>
	<input type="submit" name="Save" id="submit">
</form>

