<h4>Sign Up Below:</h4>
<form action="/artists/signup" method="post">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="Sign Up" id="submit">
</form>