<form action="/shows/new" method="POST">
	<h3>Show name:</h3>
	<input type="text" name="name">
	<h3>Price:</h3>
	<input type="text" name="price">
	<h3>Age:</h3>
	<input type="integer" name="age">
	<h3>Date</h3>
	<input type="date" name="date">
	<h3>Time:</h3>
	<input type="time" name="time">
	<input type="hidden" name="venue_id" value="<%= current_user.id %>">
	<input type="submit" value="Submit">
</form>

