<form action="/venues/<%= @user.slug %>/edit" method="POST">
	<h3>Venue name:</h3>
	<textarea rows="1" cols="25" name="name"><%= @user.name %></textarea>
	<h3>Address:</h3>
	<textarea rows="2" cols="25" name="address"><%= @user.address %></textarea>
	<h3>Tell us a little about your venue:</h3>
	<textarea rows="5" cols="50" name="bio"><%= @user.bio %></textarea><br>
	<input type="submit" name="Save" value= "Save profile information">
</form>

