<h1>Log In Below:</h1>
<form action="/venues/login" method="post">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="Log In" id="submit">
</form>