<% future_shows =  Show.all.select{|show| show.start_time > Time.now}.sort_by!{|s| s.start_time}%>

<div class="row">
  <div class="col-sm-4"><h4>Show</h4></div>
  <div class="col-sm-4"><h4>Venue</h4></div>
  <div class="col-sm-4"><h4>Date</h4></div>
	<% future_shows.each do |show| %>
		<div class="col-sm-4"><a href="/shows/<%= show.id %>"><%= show.name %></a></div>
		<div class="col-sm-4"><%= show.venue.name %></div>
		<% if show.start_time %>
			<div class="col-sm-4"><%= show.start_time.strftime("%B %d") %></div>
		<% else %>
			<div class="col-sm-4">TBA</div>
		<% end %>
	<% end %>
</div>