<% Show.all.each do |show| %>
<a href="/shows/<%= show.id %>"><%= show.name %></a>
 
<% if show.start_time %>
	<p><%= show.start_time.strftime("%B %d, %Y") %></p>
<% else %>
	<p>TBA</p>
<% end %>
<% end %>