<body class="landing">
<div class="land-menu">
	<h1>Welcome to MusicSocial NYC</h1>
	<div class="col-sm-4">
	<div class="col-sm-12"><h4>Fans</h4></div>
	<div class="col-sm-6"><a href="/fans/login">Log In</a></div>
	<div class="col-sm-6"><a href="/fans/signup">Sign Up</a></div>
	</div>

	<div class="col-sm-4">
	<div class="col-sm-12"><h4>Artists</h4></div>
	<div class="col-sm-6"><a href="/artists/login">Log In</a></div>
	<div class="col-sm-6"><a href="/artists/signup">Sign Up</a></div>
	</div>

	<div class="col-sm-4">
	<div class="col-sm-12"><h4>Venues</h4></div>
	<div class="col-sm-6"><a href="/venues/login">Log In</a></div>
	<div class="col-sm-6"><a href="/venues/signup">Sign Up</a></div>
	</div>

</div>
</body>