<h1>Welcome</h1>

<a href="/artists/login">Artists Log In</a>
<a href="/artists/signup">Artists Sign Up</a>
<a href="/fans/login">Fans Log In</a>
<a href="/fans/signup">Fans Sign Up</a>
<a href="/venues/login">Venues Login</a>
<a href="/venues/signup">Venues Sign Up</a>